* {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");
  list-style: none;
}
body {
  /* background: url("/assests/images/pexels-soubhagya-maharana-5245865.jpg"); */
  /* background-size: cover; */
  list-style: none;
}

#searchList li:hover {
  background-color: bisque;
  width: 200px;
}
